<div th:fragment="navbar" id="navFragment">
  <nav>
    <div id="head-link">
      <h1>Title</h1>
      <ul>
        <li>link 1</li>
        <li>link 2</li>
        <li sec:authorize="isAuthenticated()"><a href="/profile">Profile</a></li>
      </ul>
    </div>
    <div id="auth">
      <div sec:authorize="isAnonymous()"><button id="signinBtn"><a href="/signin">Sign In</a></button></div>
      <div sec:authorize="isAnonymous()"><button id="signupBtnNav"><a href="/signup">Sign Up</a></button></div>
      <div><button id="menuBtn">Menu</button></div>
      <div sec:authorize="isAuthenticated()"><button id="logoutBtn"><a href="/logout">Logout</a></button></div>
    </div>
  </nav>
  <div id="mobileMenu" style="display: none">
    <h3>link 1</h3>
    <h3>link 2</h3>
    <h3 sec:authorize="isAuthenticated()"><a href="/profile">Profile</a></h3>
    <div sec:authorize="isAnonymous()"><button style="background-color: white"><a style="color: black" href="/signin">Sign In</a></button></div>
    <div sec:authorize="isAnonymous()"><button><a href="/signup">Sign Up</a></button></div>
    <div sec:authorize="isAuthenticated()"><button id="mobileLogoutBtn"><a href="/logout">Logout</a></button></div>
  </div>



</div>