<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/css/navbar/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/signup/signup.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>


<div id="formWrapContainer">

    <div id="formWrap">
        <h1>SIGN UP</h1>
        <form  id="signupForm" th:object="${signUpModel}" th:action="@{/signup}" method="post" >

            <div class="inputDiv">
                <label>FULL NAME</label>
                <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="errorLbl"></span>
                <input type="text" name="fullName" id="fullName" th:field="*{fullName}">
            </div>
            <div class="inputDiv">
                <label>USERNAME</label>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="errorLbl"></span>
                <input type="text" name="username" id="username" th:field="*{username}">
            </div>
            <div class="inputDiv">
                <label>PASSWORD</label>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errorLbl"></span>
                <input type="password" name="password" id="password" th:field="*{password}">
            </div>
            <div class="inputDiv">
                <label>CONFIRM PASSWORD</label>
                <span th:if="${#fields.hasErrors('confPassword')}" th:errors="*{confPassword}" class="errorLbl"></span>
                <input type="password" name="confPassword" id="confPassword" th:field="*{confPassword}">
            </div>
            <div class="inputDiv">
                <label>EMAIL</label>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errorLbl"></span>
                <input type="text" name="email" id="email" th:field="*{email}">
            </div>

            <button type="submit" id="signupBtn">SIGN UP</button>
        </form>
    </div>
</div>

<script th:src="@{/js/navbar/navbar.js}"></script>
</body>
</html>