<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/css/navbar/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/signup/signup.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>


<div id="formWrapContainer">

    <div id="formWrap">
        <h1>SIGN UP</h1>
        <form  id="signupForm">
            <div class="inputDiv">
                <label>FULL NAME</label>
                <input type="text" name="fullName" id="fullName">
            </div>
            <div class="inputDiv">
                <label>USERNAME</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="inputDiv">
                <label>PASSWORD</label>
                <input type="text" name="password" id="password">
            </div>
            <div class="inputDiv">
                <label>CONFIRM PASSWORD</label>
                <input type="text" name="confPassword" id="confPassword">
            </div>
            <div class="inputDiv">
                <label>EMAIL</label>
                <input type="text" name="email" id="email">
            </div>

            <button type="submit" id="signupBtn">SIGN UP</button>
        </form>
    </div>
</div>

<script th:src="@{/js/navbar/navbar.js}"></script>
</body>
</html>