#profileWrapContainer {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

#profileWrap {
    width: 400px;
    border: solid 1px #2f1793;
}

#profileWrap > h1 {
    background-color: #2f1793;
    color: white;
    font-family: "DejaVu Sans Condensed";
    font-size: 26px;
    text-align: center;
}

#profileForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

    gap: 10px;


}

input[type=text],input[type=password]{
    border: solid 1px black;
    padding: 5px;
    width: 60%;
}

.inputDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 90%;

    gap: 2px;
}

#saveBtn{
    background-color: #2f1793;
    color: white;
    font-family: "DejaVu Sans Condensed";
    font-size: 20px;
    border: none;
    padding: 5px 5px;
    margin: 20px 0px 20px 0px;
}